body {
  font-family: "Trebuchet MS", arial, verdana, sans-serif;
  background-color: #c3cfe2;
}

.header {
  font-size: 3vw;
  text-align: center;
  &__ondertekst {
    color: #686de0;
    font-size: 2.5vw;
  }
}

.testimonial {
  position: relative;
  width: 8.1em;
  font-size: 3em;
  padding: 0.5em;
  border-radius: 1em;
  margin: auto;

  &__boven {
    position: relative;
    width: 100%;
    height: 12em;
    font-size: 18px;
    color: grey;
    background-color: #fff;
    line-height: 1.7em;
    padding: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  &__image {
    width: 100px;
    border: 8px solid white;
    border-radius: 50%;
    margin: 1em 2.5em;
    /* belangrijk om de image een absolute positie mee te geven, zo kan ik de
    positie t.o.v. de rest bepalen. De rest een positie van relative
    meegegeven. */
    position: absolute;
    top: 115px;
  }
  &__onder {
    width: 100%;
    font-size: 14px;
    background-color: #686de0;
    color: white;
    text-align: center;
    padding: 7em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &__naam {
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__website {
    font-size: 1.1em;

    color: lightgray;
  }

  &__button {
    opacity: 0;
    position: absolute;
    top: 200px;
    right: 160px;
  }

  
  &:hover {
    background: grey;
    
  }

  &:hover &__image {
    opacity: 0;
    transition: 1000ms ease;
  }
  &:hover &__button {
       
    opacity: 1;
    transition: 1500ms ease;
  }
}

.navigation {
  position: fixed;
  top: 220px;
  right: 5px;

  &--blog {
    background-color: #e17b77;
  }
  &--facebook {
    background-color: #3b5998;
  }
  &--twitter {
    background-color: #00aced;
  }
  &--github {
    background-color: #333;
  }
  &--linkedin {
    background-color: #007bb6;
  }
}

ul {
  list-style-type: none;
}




footer {
  font-size: 2em;
  text-align: center;
}
/* uitzoeken hoe dit en de media-queries werken */
.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  gap: 5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .container {
    margin: 0 5em;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    padding-top: 12em;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 2em;
    -ms-grid-columns: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
  }
}

@media (min-width: 1600px) {
  .container {
    margin: 0 14em;
  }
}
