body {
  font-family: "Trebuchet MS", arial, verdana, sans-serif;
  background-color: #c3cfe2;
}

.header {
  font-size: 3vw;
  text-align: center;
  &__ondertekst {
    color: #686de0;
    font-size: 2.5vw;
  }
}

.testimonial {
  position: relative;
  width: 8.1em;
  font-size: 3em;
  padding: 0.5em;
  border-radius: 1em;
  margin: auto;

  &__boven {
    position: relative;
    width: 100%;
    height: 12em;
    font-size: 18px;
    color: grey;
    background-color: #fff;
    line-height: 1.7em;
    padding: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  &__image {
    width: 100px;
    height: 115px;
    border: 8px solid #fff;
    border-radius: 50%;
    margin: 1em 2.5em;
    /* belangrijk om de image een absolute positie mee te geven, zo kan ik de
    positie t.o.v. de rest bepalen. De rest een positie van relative
    meegegeven. */
    position: absolute;
    top: 130px;
  }
  &__onder {
    width: 100%;
    font-size: 14px;
    background-color: #686de0;
    color: white;
    text-align: center;
    padding: 7em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &__naam {
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__website {
    font-size: 1.1em;

    color: lightgray;
  }

  &__button {
    opacity: 0;
    position: absolute;
    top: 200px;
    right: 160px;
  }

  &:hover {
    background: grey;
  }

  &:hover &__image {
    opacity: 0;
    transition: 1000ms ease;
  }
  &:hover &__button {
    opacity: 1;
    transition: 1500ms ease;
  }
}

.navigation {
  position: fixed;
  top: 15%;
  margin: 0;
  right: 0px;

  &__item {
    color: rgb(236, 228, 228);
    width: 0%;
    margin: 10%;
  }

  &__item:hover {
    width: 100%;
    font-size: 10em;
    -webkit-transition: all 0.8s 0s ease;
    -moz-transition: all 0.8s 0s ease;
    -o-transition: all 0.8s 0s ease;
    transition: all 0.8s 0s ease;
  }

  &--blog {
    background-color: #e17b77;
    font-size: 4.5em;
  }
  &--facebook {
    background-color: #3b5998;
    font-size: 4em;
  }
  &--twitter {
    background-color: #00aced;
    font-size: 4em;
  }
  &--github {
    background-color: #333;
    font-size: 4em;
  }
  &--linkedin {
    background-color: #007bb6;
    font-size: 4.5em;
  }
}

ul {
  list-style-type: none;
}

footer {
  font-size: 2em;
  text-align: center;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2.3%;
  row-gap: 0.9%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0em;
  padding-bottom: 1em;
}

@media (min-width: 768px) {
  .container {
    margin: 0 5em;
    grid-template-columns: 50% 50%;
    padding-top: 4.5em;
  }
  .navigation {
    top: 20%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 2em;
    grid-template-columns: 30% 30% 30%;
  }

  .navigation {
    top: 35%;
  }
}

@media (min-width: 1600px) {
  .container {
    margin: 0 14em;
  }
}
