

.visitekaartjes
{



display: flex;
/*justify-content: space-between; */
align-content: center;
      
font-family: "Open Sans";
font-size: 17px;
line-height: 1.7em;
background-color: transparent;

}

.visitekaartjes h3 {
    color: #cccccc;
}

.visitekaartjes button {
margin: 0px;
}

.Carla, 
.Marijn {
    width: 50%;
    padding: 10px;
    border: 1px solid #857070;
    border-radius: 5px;
    margin: 10px;
   
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "naam info" "onder ." "permission ." "Accept Decline";
}
      
      .info { grid-area: info; }
      
      .naam { grid-area: naam; }
      
      .ondertekst { grid-area: onder; }
      
      .permission { grid-area: permission; }
      
      .Accept { grid-area: Accept; }
      
      .Decline { grid-area: Decline; }

.Accept {
    color: green;
    
}

.Decline {
    color: red;
}