body {
    background: gray;
}

p {
    font-size: 30px;
    font-style: italic;
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
}

.red-border {
    border: 1px dashed rgb(161, 37, 37);
}

#gray-background {
    background-color: rgba(128, 128, 128, 0.493);
}