html,
body {
	height: 100%;
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-size: 5.5vw;
}

p {
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
}

footer {
	font-size: 2.5vw;
}

.navigatie {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	list-style-type: none;
	padding: 30px;
	color: darkslategray
}

.navigatie a:hover {
	color: #5D619D;
}

.text-block p {
	text-align: center;
}

.container {
	min-height: 100vh;
	display: grid;
	width: 100%;
	margin: 5px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px repeat(3, auto) 20px;
	grid-template-areas: "h h h h h h h h h h h h" "g g g g g g g g g g g g" "n n n n n n n n n n n n" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
}

header {
	grid-area: h;
	background-color: #F8DCC2;
	border: 10px solid #7BA1D2;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
	font-size: 7vw;
	text-align: center;
}

.google {
	grid-area: g;
	background-color: #F8DCC2;
	border: 3px solid #005681;
	border-radius: 10px;
	padding: 3px;
	font-size: 1.5vw;
}

nav {
	grid-area: n;
	border: 6px solid #C2DDB6;
	background-color: #7BA1D2;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

main {
	grid-area: m;
	background-color: #F8DCC2;
	padding: 15px;
}

a {
	text-decoration: none;
	color: #970D35;
}

footer {
	grid-area: f;
	background-color: #5D619D;
	text-align: center;
}


/* voor tablets: */

@media (min-width: 768px) {
	html,
	body {
		background-color: #970D35;
	}
	.container {
		grid-template-rows: 200px repeat(2, auto) 30px;
		grid-template-areas: "h h h h h h h h h h h h" "g g g g g g n n n n n n" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
	}
}


/*voor laptops:*/

@media (min-width: 1025px) {
	.container {
		grid-template-rows: 250px repeat(2, auto) 40px;
		grid-template-areas: "h h h h h h h h h g g g" "n n n n n n n n n n n n" "m m m m m m m m m m m m" "f f f f f f f f f f f f";
	}
}

.container2 {
	min-height: 100vh;
	display: grid;
	width: 100%;
	margin: 5px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px repeat(4, auto) 20px;
	grid-template-areas: "h h h h h h h h h h h h" "g g g g g g g g g g g g" "n n n n n n n n n n n n" "m m m m m m m m m m m m" "lij lij lij lij lij lij lij lij lij lij lij lij" "f f f f f f f f f f f f";
}

.google2 {
	grid-area: g;
	border: 3px solid #005681;
	border-radius: 10px;
	padding: 3px;
}

.lijstje2 {
	grid-area: lij;
	background-color: #F8DCC2;
}

.lijstje2 ul {
	list-style-type: circle;
}


/* voor tablets: */

@media (min-width: 768px) {
	.container2 {
		grid-template-rows: 200px repeat(3, auto) 30px;
		grid-template-areas: "h h h h h h h h h h h h" "g g g g g g n n n n n n" "m m m m m m m m m m m m" "lij lij lij lij lij lij lij lij lij lij lij lij" "f f f f f f f f f f f f";
	}
}


/* voor laptops: */

@media (min-width: 1025px) {
	.container2 {
		grid-template-rows: 250px repeat(2, auto) 40px;
		grid-template-areas: "h h h h h h g g g g g g" "m m m m m m m m n n n n" "lij lij lij lij lij lij lij lij lij lij lij lij" "f f f f f f f f f f f f";
	}
}

.container3 {
	min-height: 100vh;
	display: grid;
	width: 100%;
	margin: 5px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px repeat(3, auto) 20px;
	grid-template-areas: "h h h h h h h h h h h h" "n n n n n n n n n n n n" "m m m m m m m m m m m m" "c c c c c c c c c c c c " "f f f f f f f f f f f f";
}

form {
	grid-area: c;
	background-color: #F8DCC2;
}


/* voor tablets: */

@media (min-width: 768px) {
	.container3 {
		grid-template-rows: 200px repeat(2, auto) 30px;
		grid-template-areas: "h h h h h h h h h h h h" "n n n n n n n n n n n n" "m m m m m m c c c c c c" "f f f f f f f f f f f f";
	}
}


/* voor laptops: */

@media (min-width: 1025px) {
	.container3 {
		grid-template-rows: 250px auto 40px;
		grid-template-areas: "h h h h h h h h h h h h" "m m m c c c c c n n n n" "f f f f f f f f f f f f";
	}
}



